@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);

.App {
  text-align: center;
  font-family: "Roboto";
}
body {
  overflow: hidden;
}

.App-intro {
  font-size: large;
  margin-top: -60px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}
